
body {
    color: #c8c3cd;
    background-color: #c8c3cd;
  }

p {
    color: #f0f0f0;
    font-family: arial;
    font-size: 20px;
}  

h1 {
    color: #dc199b;
    font-family: tiempos fine medium;
    font-size: 48px;
}
  
  a.brand {
    font-size: 32px;
    color: white;
    text-decoration: none;
  }
  
  a.menu {
    font-size: 16px;
    color: white;
    text-decoration: none;
    float: right;
    margin-left: 12px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    line-height: 1.6;
    background-color: rgb(19, 23, 32);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-style: solid;
    border-radius: 5px;
  }
  
  a.menu:hover {
    border-top-color: #dc199b;
    color: #dc199b;
  }
  
  .stButton > button {
    border-radius: 5px;
    height: 3em;
    width: 100%;
  }
  
  .appview-container .main .block-container {
    max-width: 1000px;
  }
  
  .button {
    color: #dc199b !important;
    text-decoration: none !important;
    border-radius: 5px;
    height: 3em;
    width: 100% !important;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    margin-top: 0px;
    line-height: 1.6;
    color: inherit;
    width: auto;
    background-color: rgb(19, 23, 32);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #c8c3cd;
    border-right-color: #c8c3cd;
    border-bottom-color: #c8c3cd;
    border-left-color: #c8c3cd;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  
  .button:hover {
    color: #dc199b !important;
    text-decoration: none;
    border-radius: 5px;
    height: 3em;
    width: 100% !important;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    border-color: #dc199b!important;
    color: #dc199b !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    margin-top: 0px;
    line-height: 1.6;
    color: inherit;
    width: auto;
    background-color: rgb(19, 23, 32);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #c8c3cd;
    border-right-color: #c8c3cd;
    border-bottom-color: #c8c3cd;
    border-left-color: #c8c3cd;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  